/*Стили для домашнего компонента HomeView*/

.auth-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
    background-color: #AEC09A;
    height: 50px;
}

.nav_but{
    display: flex;
    gap: 30px;
    margin-left: 60rem;
}

.buttons_aut{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    margin-right: 20px;
}

.auth-button {
    margin-left: 10px;
    text-decoration: none;
    color: white;
}

/*.auth-button:hover {*/
/*    text-decoration: underline;*/
/*}*/

h1{
    margin-left: 40rem;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #AEC09A;
}

.user-info p{
    padding-left: 1rem;
}

.logout-button {
    margin-left: 10px;
    background-color: #344C11;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.logout-button:hover {
    background-color: #1A2902;
}

/*Вся карточка продукта*/
.product {
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    background-color: #AEC09A;
    width: 12rem;
    height: 12rem;
}
 /*контейнер карточек продукта*/
.prod_containeer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 5rem;
    margin-top: 5rem;
    width: 82rem;
    gap: 40px
}

/*карточка продукта текст*/
.product-info {
    flex: 1;
}

.product h3 {
    margin-top: 0;
}

.product-image {
    max-width: 100px;
    max-height: 100px;
    margin-right: 20px;
}

.product-price {
    font-weight: bold;
}

/*Кнопка добавить в корзину*/
.add-to-cart-button {
    background-color: #344C11;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
/*Кнопка добавить в корзину при наведении*/
.add-to-cart-button:hover {
    background-color: #1A2902;
}

/*Кнопка оформленные заказы*/
.orders-button{
    color: white;
    text-decoration: none;
}

/*Кнопка корзина*/
.cart-button{
    color: white;
    text-decoration: none;
}

/*Стили для компонента заазов UserOrders*/
.user-orders {
    max-width: 400px;
    margin: 0 auto;
    background-color: #AEC09A;
}

.order {
    padding: 10px;
    margin-bottom: 15px;
}

.order h3 {
    margin-top: 0;
}

.back-button {
    margin-top: 20px;
    background-color: #f44336;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.back-button:hover {
    background-color: #da190b;
}

.empty-orders {
    margin-top: 20px;
    font-style: italic;
    color: #777;
}


/*Стили для компонента регистрации UserRegistration*/
/*Сама форма регистрации*/
.registration-container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #AEC09A;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.registration-form {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.error {
    color: red;
}

.registration-button,
.back-button {
    display: block;
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.registration-button {
    background-color: #344C11;
    color: white;
}

.registration-button:hover {
    background-color: #1A2902;
}

.back-button {
    background-color: #344C11;
    color: white;
}

.back-button:hover {
    background-color: #1A2902;
}



/*Стили для компонента авторизации UserLogin*/
/*Поле формы входа*/
.login-container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #AEC09A;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

/*Поле 2-х полей*/
.login-form {
    margin-bottom: 20px;
    background-color: #AEC09A;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.error {
    color: red;
}

.login-button {
    background-color: #344C11;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #1A2902;
}

/*Кнопка назад*/
.back-button {
    background-color: #344C11;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/*Кнопка назад при наведении*/
.back-button:hover {
    background-color: #1A2902;
}



/*Стили для компонента карточки заказа ShoppingCart*/
.shopping-cart {
    max-width: 800px;
    margin: 0 auto;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.item-info {
    flex: 1;
}

/*Кнопочки + - и удалить*/
.item-controls button {
    margin-left: 10px;
    background-color: #344C11;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.item-controls button:hover {
    background-color: #1A2902;
}

.checkout-button {
    margin-top: 20px;
    background-color: #344C11;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.checkout-button:hover {
    background-color: #1A2902;
}

/*Кнопка назад*/
.back-button {
    display: block; /* Добавлено */
    margin-top: 20px;
    background-color: #344C11;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/*Кнопка назад при наведении*/
.back-button:hover {
    background-color: #1A2902;
}

.empty-cart {
    margin-top: 20px;
    font-style: italic;
    color: #777;
}

/*Все остальные кнопки*/
.other_button{
    background-color: #344C11;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    height: 31px;
    border: none;
}

.other_button:hover{
    background-color: #1A2902;
}

input {
    width: 24rem;
}